<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <% @businesses.each do |business| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to business_path(business) do %>
          <%# if we have a review  %>
            <%= render "shared/yes" %>
          <%# else  %>
            <%= render "shared/no" %>
          <%# end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render "shared/map" %>
</div>
