// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$purple: #3f007f;
$light-purple: #a46ce2;

// Custom colors <- are not added to bootstrap variables

$primary-gray: #323232;
$primary-black: #111111;
$primary-yellow: #F8B83A;
$secondary-gray: #E5E5E5;
$tertiary-gray: #F3F3F3;
