#fluid-container {
  min-height: calc(100vh - 70px);
  padding: 100px 0;
}
.field {
  text-align: center;
}

.field-header {
  height: 75px;
}

.field-content {
  margin-top: 10px;
}

.field-logo {

}

.field-img {
  height: 50px;
}

.review {
  width: 360px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h4 {
  color: $primary-black;
  padding: 40px 0;
}

h3 {
  color: $primary-black;
}

.button-container {
  text-align:center;
}

