body {
  background-color: #FDF6FA;
  color: gray;
} p {
  font-size: 15px;
  font-family: "Century Gothic" !important;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.info {
  padding: 20px 40px;
}

.google-review {
  display: inline;
}
