body {
  background-color: #FDF6FA;
  color: gray;
} p {
  font-size: 15px;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.info {
  padding: 20px 40px;
}

.google-review {
  display: inline;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}
.rating > label {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > label.flags.active:before,
.rating > label.flags.active ~ label.flags:before,
.rating > label.flags:hover:before,
.rating > label.flags:hover ~ label.flags:before {
  content: '';
  position: absolute;
}
input {
  display: none;
}
