.flex-box {
  display: flex;
  justify-content: space-between;
}

.results {
  flex: 0 0 29%;
}

.index-map {
  flex: 0 0 70%;
}


.padding-right-none {
  padding-right: 0;
}


.small-padding {
  padding: 15px;
}

.tiny-padding-right {
  padding-right: 10px;
}

#map {
  margin-top: 9px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}
