<div class="card" id="card_<%= candidate['place_id'] %>">
  <div class="card-footer">
    <h5><%= candidate["name"].truncate(30) %></h5>
  </div>
  <p class="card-address"><%= candidate["formatted_address"].truncate(52) %></p>
  <div class="review-stars">
    <% 5.times do %>
      <%= image_tag "flag.svg", height: "20px" %>
    <% end %>
  </div>
</div>
