<div class="card">
  <div class="card-body no-review" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url('<%= business.photo %>');">
    <h5>No language review yet</h5>
  </div>
  <div class="card-footer">
    <h5><%= business.name %></h5>
    <p class="card-address"><%= business.address %></p>
  </div>
</div>
<% end %>
</div>
