    <%= form_tag("/reviews", method: "get") do %>
      <div class="form-row form-inline">
      <%= text_field_tag :input_address,
        params[:input_address],
        class: "form-control",
        placeholder: "search a business" %>
      <%= submit_tag "find", class: "btn btn-primary" %>
      </div>
    <% end %>
