<div class="card" id="card_<%= candidate['card_id'] %>">
  <p class="card-tag">
    <% @average = reviews.pluck(:english_rating).sum / reviews.count %>
    <div class="review-stars">
      <% @average.round.times do %>
        <i class="fas fa-flag"></i>
      <% end %>
      <% (5-@average.round).times do %>
        <i class="far fa-flag"></i>
      <% end %>
    </div>
  </p>
</div>

  <div class="card-footer">
    <h5><%= candidate["name"].truncate(20) %></h5>
    <p class="card-address"><%= candidate["formatted_address"].truncate(50) %></p>
  </div>
</div>
