<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="container">
  <div class="banner-content text-center">
    <h1>lingo services</h1>
    <p>find services in your native language</p>
    <%= form_tag("/reviews", method: "get", id: "search_place") do %>
      <%= text_field_tag :input_address,
        params[:input_address],
        class: "form-control text-center",
        placeholder: "What service are you looking for today?" %>
      <%= submit_tag "find", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
