.banner {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: radial-gradient(rgba(252,252,252,0.25), rgba(255,255,255,0.05)), image-url("background1.jpg");
  background-size: cover;
  background-position: center;
  h2 {
    color: $light-gray;
  }
}

#input_address{
  display: inline;
  vertical-align: middle;
  height: 40px;
  width: 350px;
  font-family: "Proxima Nova";
  font-size: 16px;
}

#search_button {
  display: inline;
  width: fit-content;
  vertical-align: middle;
  padding-bottom: 5px;
  width: 110px;
  height: 38px;
}

@media screen and (max-width: 600px) {
  #input_address {
    font-size: 14px;
    width: 70%;
    padding: 8px 8px;
  }
  #search_button {
    width: 70%;
  }
}
