.banner {
  height: 66vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: radial-gradient(rgba(252,252,252,0.85), rgba(255,255,255,0.35)), image-url("background1.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: gray;
    font-weight: bold;
    font-size: 56px;
  }
  p {
    color: gray;
    opacity: .9;
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 25px 0;
  }
  input {
    margin: 15px 0 0 0;
    padding: 8px 40px;
  }
}
#input_address {
  display: inline;
  width: fit-content;
  vertical-align: middle;
  height: 60px;
  width: 45%;
}

#search_button {
  display: inline;
  width: fit-content;
  vertical-align: middle;
  height: 60px;
}

@media screen and (max-width: 600px) {
  #input_address {
    font-size: 14px;
    width: 70%;
    padding: 8px 8px;
  }
  #search_button {
    width: 70%;
  }
}
