/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: rgba(255,255,255, 0.1);
  transition: all 0.3s ease;
  height: 100px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Century Gothic";
  color: $primary-black;
  font-weight: 500;
}
/* Logo */
.logo {
  font-weight: lighter;
  padding-bottom: 15px;
  position: center;
  font-family: "Raleway";
  // display: flex;
  // justify-content: center;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 22em;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 5px 0 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-wagon-item2 {
  cursor: pointer;
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: 22em;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $light-gray;
  border-color: $light-gray;
  top: 80%;
  min-width: 125px;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  color: $primary-gray !important;
  opacity: 0.5;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  text-align: right;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $primary-black !important;
  opacity: 1;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 25px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
#navbar-wagon-menu {
  font-weight: bolder;
  letter-spacing: 0.2em;
}

.medium-icon {
  font-size: 28px !important;
}

.navbar-searchbox {
  margin: 0;
}
#input_addr{
  display: inline;
  vertical-align: middle;
  height: 40px;
  min-width: 350px;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: lighter;
}

@media screen and (max-width: 600px) {
  .search {
    display: none;
  }
  .navbar-button {
    display: none;
  }
  .navbar-wagon-right {
    justify-content: flex-end;
  }
  .navbar-wagon-dropdown-menu:before {
  right: 10px;
  }
}

