.r-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px 0;
  padding: 20px;
}

.r-card-header {
  display: flex;
  justify-content: space-between;
}

.review-font {
  font-size: 14px;
}

.review-icon {
  font-size:14px;
}
