.r-card {
  display: flex;
  flex-direction: column;
  background-color: $tertiary-gray;
  color: $primary-black;
  margin: 10px 0;
  padding: 20px;
  height: 200px;
}

.r-card-header {
  display: flex;
  justify-content: space-between;
}

.review-font {
  font-size: 14px;
}

.review-icon {
  font-size:14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lang-review {
  text-align: left;
  margin: 0;
}
