<p class="language-review">
  <i class="fas fa-comment"></i> &nbsp
  <% average = reviews.pluck(:english_rating).sum / reviews.count.to_f %>
  <% if reviews.pluck(:english_rating).present? %>
    <% average.round.times do %>
      <%= image_tag 'flag_colored.svg', class: "review-icon" %>
    <% end %>
    <% (5-average.round).times do %>
      <%= image_tag 'flag_colored.svg', class: "review-icon" %>
    <% end %>
  <% else %>
    <% 5.times do %>
      <%= image_tag 'flag_colored.svg', class: "review-icon" %>
    <% end %>
  <% end %>
</p>
