<div class="flex-box">
  <div class="results">
    <% @places.each do |candidate| %>
      <% reviews = Review.where(place_id: candidate['place_id']) %>
      <div class="review-cards">
        <%= link_to review_path(candidate["place_id"]) do %>
          <% if reviews.present?  %>
            <%= render "shared/yes", candidate: candidate, reviews: reviews %>
          <% else  %>
            <%= render "shared/no", candidate: candidate %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="index-map padding-right-none">
    <div id="map" class="map-index" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>
