<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <% @candidates.each do |candidate| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to review_path(candidate["place_id"]) do %>
        <% if candidate["reviews"].present?  %>
          <%= render "shared/yes", candidate: candidate %>
        <% else  %>
         <%= render "shared/no", candidate: candidate %>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>

  <%= render "shared/map" %>
</div>
